<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Zoho CRM Regression Test Suite">
  <test name="Regression Test Suite">
    <packages>
      <package name="com.zohocrm.testcases"/>
    </packages>
  </test> <!-- Regression Test Suite -->
</suite> <!-- Zoho CRM Regression Test Suite -->
